@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

:root{
  --color1: #fffbff;
  --color2: #fff5ff90;
  --color3: #00ffff90;
  --color4: #ff00ff90;


  --bgcolor1: #330033;
  --bgcolor2:#000012;
  --bgcolor3:#003333;
  --bg: linear-gradient(140deg, var(--bgcolor1) 0%, var(--bgcolor2) 45%, var(--bgcolor3) 100%);

  --nav-bar: #ffffff42;


  --project-card-bg: #ffffff48;
  --project-card-hover: #ffffff7e;
}

* {
  margin: 0;
  border: 0;
}

html, body {
  background: var(--bg);
  overflow-x: hidden;
  color: var(--color1);
  text-align: center;
  font-family: "Roboto Slab", serif;
  padding: 0;
}


nav {
  display: flex;
  align-items:center;
  justify-content: start;
  background-color: var(--project-card-bg);
  height: 80px;
}

.nav-name{
  font-size: 50px;
  margin: 15px;
  cursor: pointer;
  margin-right: 2%;
}

.nav-button{
  font-size: 30px;
  height: 100%;
  width: 10%;
  cursor: pointer;
  color: var(--color1);
  background: none;
  border-right: solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-width: 1px;
}

.home{
  border-left: solid;
  border-width: 1px;
}

header {
  font-weight: 600;
  padding: 20px;
  width: 100%;
  margin-top: 280px;
  margin-bottom: 280px;
  display: grid;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  grid-row: 1;
  grid-column: 1;
}

h2 {
  font-size: 50px;
}