:root{
  --color1: #bbbbcde7;
  --color2: #000012;


  --bgcolor1: #330033;
  --bgcolor2:#000012;
  --bgcolor3:#003333;
  --bg: linear-gradient(140deg, var(--bgcolor1) 0%, var(--bgcolor2) 45%, var(--bgcolor3) 100%);

  --nav-bar: #ffffff0f;


  --project-card-bg: #ffffff21;
  --project-card-hover: #ffffff38;
}