:root{
  --color1: #ffeeff;
  --color2: #000012;


  --bgcolor1: #330033;
  --bgcolor2:#000012;
  --bgcolor3:#003333;
  --bg: linear-gradient(140deg, var(--bgcolor1) 0%, var(--bgcolor2) 45%, var(--bgcolor3) 100%);

  --nav-bar: #ffffff1b;


  --project-card-bg: #ffffff2e;
  --project-card-hover: #ffffff65;
}