 @import url(colors.css); 

 body {
  background-color: var(--color1);
  color: var(--color2);
  text-align: center;
  font-family:'Times New Roman', Times, serif
}

header {
  background-color: var(--color2);
  color: var(--color1);
  font-weight: 600;
  padding: 20px;
  width: 100%;
  margin: -10px;
}

h1 {
  font-size: 60px;
  margin-top: 120px;
  font-weight: bold;
  margin-bottom: 60px;
}

.summary-container{
  width: 70%;
  margin-left: 12%;
  margin-right: 12%;
  border: solid;
  border-width: 6px;
  padding: 30px;
  color: var(--color2);
  font-size: 30px;
  background-color: var(--about-me-bg);
  border-radius: 15px;
  border-bottom-color: var(--about-me-border-dark);
  border-right-color: var(--about-me-border-dark);
  border-top-color: var(--about-me-border-light);
  border-left-color: var(--about-me-border-light);
}

.profile-picture{
  width: 178px;
  height: 206px;
}

.about-details{
  margin-left: 10%;
  margin-right: 10%;
}

#unity-container {
  margin: 1%;
}

.project-card{
  background-color: var(--project-card-bg);
  width: 30%;
  margin: 1.7%;
  border-radius: 15px;
  border-bottom: solid;
  border-right: solid;
}

.project-card:hover{
  background-color: var(--project-card-hover);
  width: 30%;
  margin: 1.65%;
  border-radius: 15px;
  border-bottom: solid;
  border-width: 5px;
}

.projects {
  display: flex;
}

h2 {
  font-size: 50px;
}

.project-card-header {
  margin-bottom: -3%;
  margin-top: 3%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 10%;
}

.project-card-img {
  width: 100%;
  height: 90%;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-top: 0;
}

.small-header {
  padding: 1px 20px 1px 20px ;
}

#gpa {
  font-size: 25px;
  margin-top: -30px;
  margin-bottom: -20px;
}

.education {
  display: flex;
  gap: 35%;
}

.education-major{
  order: 1;
  align-self: flex-start;
  text-align: left;
}

#education-major-SE{
  margin-bottom: 9%;
}

.education-dates {
  order: 2;
  text-align: right;
}

.list-container{
  display: flex;
  gap: 20%;
}

.list{
  width: 30%;
  text-align: left;
  align-self: start;
}